<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Employe Bnidarak</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            
            
            <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#addemployee" type="submit">Ajouter Employe</button>
          </div>
        </div>
      </nav>
    
  
  <!-- Modal -->
  <div class="modal fade" id="addemployee" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Bnidarak</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
            <form [formGroup]="empDetail">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">id </label>
                  <input type="text" formControlName="id" class="form-control" id="id" aria-describedby="emailHelp">
                  
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">adresse </label>
                    <input type="text" formControlName="adresse" class="form-control" id="adresse" aria-describedby="emailHelp">
                    
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Superficie </label>
                    <input type="text" formControlName="Superficie" class="form-control" id="Superficie" aria-describedby="emailHelp">
                    
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Prix</label>
                    <input type="text" formControlName="Prix" class="form-control" id="Prix" aria-describedby="emailHelp">
                    
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">contact </label>
                    <input type="text" formControlName="contact" class="form-control" id="contact" aria-describedby="emailHelp">
                    
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">image </label>
                    <input type="text" formControlName="image" class="form-control" id="image" aria-describedby="emailHelp">
                    
                  </div>

                
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-primary" (click)="add()">Ajouter</button>
                  </div>
              </form>

        </div>
       
      </div>
    </div>
  </div>
</div>
